# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

build/
.gradle
.idea

*.jfr
# Exception: TCK test recording needed for CI
!jfr-shell-tck/src/main/resources/tck-test.jfr
**/.DS_Store

harness*
launcher*

/lib/

# Keep top-level gradle.properties, ignore others
gradle.properties
**/gradle.properties

# cursor history
.history
/.githooks/pre-commit
/.vscode/settings.json

**/.last_build_hash
