name: Publish Snapshot

on:
  push:
    branches:
      - 'main'
  workflow_dispatch:

permissions:
  contents: read
  pull-requests: read
  actions: read

jobs:
  publish-snapshot:
    runs-on: ubuntu-latest
    env: # make secrets available to all steps in this job
      SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
      SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
    steps:
      - uses: actions/checkout@v3
      - name: Prepare test JDK
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: "21.0.3"
      - name: Publish
        run: |
          ./gradlew publish publishToMavenLocal -x :jfr-shell:publish --max-workers=1 --no-build-cache --stacktrace --info --no-watch-fs --no-daemon
          cd jafar-gradle-plugin
          ./gradlew publish --max-workers=1 --no-build-cache --stacktrace --info --no-watch-fs --no-daemon
